<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

	<!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
	<link href="../../static/css/login.css" th:href="@{../css/login.css}" rel="stylesheet" media="screen" type="text/css" />
	<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.css" th:href="@{/webjars/font-awesome/5.15.1/css/all.css}" rel="stylesheet" type="text/css" />
	



<title>New password</title>

<style>
.error-message {
	font-size: 90%;
	font-style: italic;
	color: red;
}
</style>

</head>
<body>
	<div id="particles-js">
		<!--/*/ <th:block th:include="fragments/navbar :: navbar"></th:block> /*/-->
		

			
		<!-- TEST -->
		<div class="login-area particles-absolute">
        	<div class="bg-image">
            	<div class="login-signup">
                	<div class="container">
                    	<div class="login-header">
                        	<div class="row">
                            	<div class="col-md-6 col-sm-6 col-xs-12">
                                	<div class="login-logo">
                                    	<img alt="login_logo" src="images/login.png" width="25" height="25" th:src="@{../../images/login.png}" class="img-responsive" />
                                	</div>
                            	</div>
                           </div>
                    	</div>
                    	<div class="tab-content">
                        <div id="register" class="tab-pane active">
                        	<div class="login-inner">
                            	<div class="col-md-12 col-sm-12 col-xs-12"> 
                            		<div class="title">
                                		<h1>New password</h1>
                                	</div>

                                <div class="login-form">
                                    <form name='f' th:action="@{/newpassword}" method="POST">
                                        <div class="form-details">
                                        	<div class="form-group">
												<span ><i class="fa fa-lock-open"></i></span>
												<input type="text" name="old_password" placeholder="Old Password" id="old_password">
												<span class="error-message" id="old"></span>
											</div>
											<div class="form-group">
												<span ><i class="fa fa-lock"></i></span>
												<input type="text" name="new_password" placeholder="New Password" id="password">
												<span class="error-message" id="message_pw"></span>
											</div>
                                            <div class="form-group">
												<span ><i class="fa fa-lock"></i></span>
												<input type="text" name="new_password_checked" placeholder="New Password" id="confirm_password">
												<span class="error-message" id="message_confirm_pw"></span>
											</div>
											<div class="form-group">
												<input class="form-btn" name="submit" type="submit" value="submit" id="input"  />
											</div>
											<div class="form-group">
												<a  href="#" th:href="@{/userInfo}">Cancel</a>
											</div>
                            			</div>
                            			</form>
                            	</div>
                            </div>
        			</div>
    			</div>
    
    <!-- FIN TEST -->
    
			</div>
		</div>
	</div>
	
	
	<script th:inline="javascript">
	$('#password, #confirm_password').on('keyup', function () {
		var encryptedPassword = [[${encryptedPassword}]] ;
		  if ($('#password').val() == $('#confirm_password').val()) {
		    $('#message_pw').html('<i class="fas fa-check">').css('color', 'green');
		    $('#message_confirm_pw').html('<i class="fas fa-check">').css('color', 'green');
		    if (httpGet('http://'+host+':'+port+'/checkPassword?rawPassword='+$('#old_password').val()+'&encryptedPassword='+encryptedPassword) == 'true') {
		    	$('#input').attr("disabled",false);
		    }
		    else{
		    	$('#input').attr("disabled",true);
		    }
		  } else {
		    $('#message_pw').html('<i class="fas fa-times">').css('color', 'red');
		  	$('#message_confirm_pw').html('<i class="fas fa-times">').css('color', 'red');
		    $('#input').attr("disabled",true);
		  }
		});
	
	$('#old_password').on('keyup', function () {
			var encryptedPassword = [[${encryptedPassword}]] ;
			var host = [[${microserviceProperties.host}]] ;
			var port = [[${microserviceProperties.port}]] ;
		  if (httpGet('http://'+host+':'+port+'/checkPassword?rawPassword='+$('#old_password').val()+'&encryptedPassword='+encryptedPassword) == 'true') {
		    $('#old').html('<i class="fas fa-check">').css('color', 'green');
		    if ($('#password').val() == $('#confirm_password').val()) {
			    $('#input').attr("disabled",false);
			  } else {
			    $('#input').attr("disabled",true);
			  }
		    $('#input').attr("disabled",false);
		  } else {
		    $('#old').html('<i class="fas fa-times">').css('color', 'red');
		    $('#input').attr("disabled",true);

		  }
		});
	
	function httpGet(theUrl)
	{
	    var xmlHttp = new XMLHttpRequest();
	    xmlHttp.open( "GET", theUrl, false );
	    xmlHttp.send( null );
	    return xmlHttp.responseText;
	}
	
	</script>
	
</body>
</html>