<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

	<!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
	<link href="../../static/css/login.css" th:href="@{../css/login.css}" rel="stylesheet" media="screen" type="text/css" />
	<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.css" th:href="@{/webjars/font-awesome/5.15.1/css/all.css}" rel="stylesheet" type="text/css" />
	



<title>Sign In</title>

<style>
.error-message {
	font-size: 90%;
	font-style: italic;
	color: red;
}
</style>

</head>
<body>
	<div id="particles-js">
		<!--/*/ <th:block th:include="fragments/navbar :: navbar"></th:block> /*/-->
		

			
			<!-- TEST -->
			<div class="login-area particles-absolute">
        <div class="bg-image">
            <div class="login-signup">
                <div class="container">
                    <div class="login-header">
                        <div class="row">
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="login-logo">
                                    <img alt="login_logo" src="images/login.png" width="25" height="25" th:src="@{../../images/login.png}" class="img-responsive" />
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="login-details">
                                    <ul class="nav nav-tabs navbar-right">
                                        <li class="active"><a href="#">Register</a></li>
                                        <li ><a th:href="@{/login}" href="#">Login</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>


                    </div>

                    <div class="tab-content">
                        <div id="register" class="tab-pane active">
                           <div class="login-inner">
                                <div class="title" th:if="${myForm.signInProvider != null}">
                                    <h1>Signup with <span th:text="${myForm.signInProvider}"></span> !</h1>
                                   
                                </div>
                                <div class="title" th:if="${myForm.signInProvider == null}">
                                    <h1>Create your <span> account!</span></h1>
                                </div>
                                
                                
                                
                            
                                
                                
                                
                                <div class="login-form">
                                    <form th:object="${myForm}" th:action="@{/signup}" method="POST">
                                    
                                    <div th:if="${#fields.hasErrors('all')}" style="margin-top: 10px; margin-bot : 10px">
													<div class="alert alert-danger" role="alert">
						  								<h4 class="alert-heading"><i class="fas fa-exclamation-triangle"></i></h4>
						  								<hr>
						  									<p class="mb-0">
							  									<span class="error-message" th:errors="*{all}">..</span>
						  									</p>
													</div>
												</div>
                                    
                                    
                                    
                                    	<input type="hidden" th:field="*{userId}" /> 
                                    	<input type="hidden" th:field="*{signInProvider}" />
                                        <div class="form-details">
                                        	<div class="form-group">
												<span ><i class="fa fa-user"></i></span>
												<input type="text" name="username" placeholder="Username" th:field="*{userName}">
											</div>
											<div class="form-group">
												<span ><i class="fa fa-envelope"></i></span>
												<input type="email" name="mail" placeholder="Email Address" th:field="*{email}">
											</div>
                                            <div class="form-group">
												<span ><i class="fa fa-tag"></i></span>
												<input type="text" name="firstName" placeholder="First Name" th:field="*{firstName}">
											</div>
											<div class="form-group">
												<span ><i class="fa fa-tag"></i></span>
												<input type="text" name="lastName" placeholder="Last Name" th:field="*{lastName}">
											</div>
											<div class="form-group">
												<span ><i class="fa fa-lock"></i></span>
												<input type="password" name="passsword" placeholder="Password" id="password" th:field="*{password}">
												<span class="error-message" id="message_pw"></span>
											</div>
											<div class="form-group">
												<span ><i class="fa fa-lock"></i></span>
												<input type="password" placeholder="Confirm Password" id="confirm_password">
												<span class="error-message" id="message_confirm_pw"></span>
												
											</div>
                                        </div>
                                        <input type="submit" value="Submit" class="form-btn" id="input"/>
                                    </form>
                                    <div class="error-message" th:utext="${errorMessage}"></div>
                                </div>
                            </div>
                        </div>
                       
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <!-- FIN TEST -->
    
  
			
			
	</div>
	
	
	<script>
	$('#password, #confirm_password').on('keyup', function () {
		  if ($('#password').val() == $('#confirm_password').val()) {
		    $('#message_pw').html('<i class="fas fa-check">').css('color', 'green');
		    $('#message_confirm_pw').html('<i class="fas fa-check">').css('color', 'green');
		    $('#input').attr("disabled",false);
		  } else {
		    $('#message_pw').html('<i class="fas fa-times">').css('color', 'red');
		  	$('#message_confirm_pw').html('<i class="fas fa-times">').css('color', 'red');
		    $('#input').attr("disabled",true);

		  }
		});
	</script>

</body>
</html>